<div class="form-register">

<form>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="email" class="form-control" name="" id="nombre" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="mail">Email address</label>
    <input type="email" class="form-control" name="" id="mail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="pass">Password</label>
    <input type="password" class="form-control" name="" id="pass" placeholder="Password">
  </div>
  
  <div class="form-group">
    <label for="pass">Password</label>
    <input type="password" class="form-control" name="" id="pass" placeholder="Password">
  </div>

  <button type="button" class="btn btn-info boton">Go!</button>

</form>

</div>