
<form action="">
            
<label for="name">Nombre
<input type="text" class="" id="name" placeholder="nombre">
</label>
<label for="password">Contrase&ntilde;a
<input type="password" class="" id="password" placeholder="contrase&ntilde;a">
</label>
<label for="rpassword">Repetir Contrase&ntilde;a
<input type="password" class="" id="rpassword" placeholder="contrase&ntilde;a">
</label>
<label for="mail">e-mail
<input type="text" class="" id="mail" placeholder="correo electronico">
</label>


</form>

