/* login */

.login{
	margin-top: 120px;
	margin-left: 20px;
	text-align: center;
	border: solid 1px ;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

}

.logu{
	margin-top: 30px;
}

.logp{
	margin-top: 10px;
	margin-bottom: 3px;
}

.chek{
	margin-top: 18px;
	margin-bottom: 20px;
}

.boton{
	background-color: #4B7BF6;
	color: white;
	margin-bottom: 25px;
	margin-top: 25px;
	padding-right: 55px;
	padding-left: 55px;
}

.boton:hover{
	background-color: #07246E;
}

a.pass{
	font-size: 13px;
	color: black;
	text-decoration: underline;
}

a.pass:hover{
	color: grey;
}

.register{
	margin-top: 135px;
	text-align: center;
}

h4{
	padding-bottom: 10px;
	margin-top: 15px;
}

pre{
	color: #242424;
	font-family: arial;
	margin-top: 40px;
	padding-bottom: 20px;
	font-size: 16px;
}

.boton{
	padding-left: 60px;
	padding-right: 60px;
	background-color: white;
	color: #4B7BF6;
}

.boton:hover{
	color: blue;
}