<div class="row">
	<div class="col-md-4 register">	
		<h4>Registrar nueva cuenta</h4>
			<hr/>
				<p>Para comenzar a utilizar nuestra herramienta y agilizar su proyecto, es necesario registrarse. Solo lleva 3 minutos.
				</p>

<button type="button" class="btn btn-primary boton" [routerLink]="['register']">Registrar</button>

</div>		

<div class="col-md-4 login">      
	<h4 class="title">Ya tienes cuenta de cliente?</h4>
		<form action="">
            
		<input type="text" class="logu" id="user" placeholder=" usuario">
		<input type="password" class="logp" id="pass" placeholder=" contrase&ntilde;a">

		</form>

			<div>
				<a href="#" class="pass">olvide mi contrase&ntilde;a</a>
 			</div>

		<div>
			<label>
	<input type="checkbox" class="chek" id="" value="" checked="true"> mantenerme logueado
			</label>
		</div>

		<button type="button" class="btn btn-info boton">ACCEDER</button>

</div>

</div>