.dashboard{
	text-align: center;
	min-height: 200px;
	margin-top: 80px;
}

.dash{
	border: solid 1px;
	text-align: center;
	margin: 5px;
}

.boton{
	background-color: #4B7BF6;
	color: white;
	margin-bottom: 25px;
	margin-top: 25px;
	padding-right: 55px;
	padding-left: 55px;
}

.boton:hover{
	background-color: #07246E;
}

h4{
	margin-top: 15px;
}