<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="dashboard">
				<div>
					<h2>Hashrise CollabPRO</h2>
				</div>
				<div>
					<h3>Bienvenido a su Dashboard personal</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 dash">
			<h4>Nuevo Servicio</h4>
			<hr>
			<p>interesado en presupuestar un
			nuevo proyecto? Comencemos
			a planificarlo por aqui.</p>
			<button type="button" class="btn btn-info boton">NUEVO SERVICIO</button>
		</div>			
		<div class="col-md-3 dash">
			<h4>Mis Proyectos</h4>
			<hr>
			<p>visualizar avances en el
			desarrollo de proyectos en
			curso</p>
			<button type="button" class="btn btn-info boton">MIS PROYECTOS</button>
		</div>
		<div class="col-md-3 dash">
			<h4>Soporte tecnico</h4>
			<hr>
			<p>Encontr&oacute; algun problema o Bug
			en su proyecto? notifiquelo por
			aqui.</p>
			<button type="button" class="btn btn-info boton">SOLICITAR SOPORTE</button>
		</div>

	</div>
</div>